@layout('layouts.main')

@section('main')

@include('partials.sidebar')

<div class="row justify-content-center">
	<div class="col-md-6 card-body">
		<h3>Your Profile</h3>
		<p>Username: {{ auth.user.firstname }} {{ auth.user.lastname }}</p>
		<p>Email: {{ auth.user.email }}</p>
		<p>Street: {{ auth.user.street ? auth.user.street : el('Not Added')}}</p>
	</div>
</div>

@endsection