@layout('layouts.main')

@section('main')

@include('partials.sidebar')

<div class="container">
	<div class="card-body">
	Username: {{ auth.user.firstname }} {{ auth.user.lastname }}
	Email: {{ auth.user.email }}
	Street: {{ auth.user.street ? auth.user.street : el('Not Added')}}
	</div>
</div>

@endsection